*{
margin: 0;
padding: 0;

}

#MD-Editor{
    margin: auto;
width: 80%;    
color: white;
/* border: red 1px solid; */
margin-bottom: 50px;
}
.editor-toolbar{
    margin-top: 2%;
    background-color:#d9dad7;
    
}
.post-btn{
    display: block;
    margin: auto;
    height: 2rem;
    width: 20%;
    background-color:  #C24D2C;
    border:  #C24D2C solid 1px;
    color:#d9dad7 ;
    cursor: pointer;
}

.title-thumbnail-input-wraper{
    /* border: chartreuse solid 1px; */
    display: flex;
    margin-top: 10%;
    justify-content: space-evenly;
    color:#d9dad7;
    font-size: 1.23rem;
}

.title-thumbnail-input-wraper input{
    width: 30%;
    border: none;
    border-radius: 3px;
}
