*{
    margin:0;
    padding: 0;
}
.navigation{
    background-color:#D9DAD7;
    width: 85vw;
    height: 50px;
    color:#1a2639;
    margin: auto;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.navigation ul{
    list-style: none;
    color:#1A2639;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-backdrop{
    background-color: #C24D2C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-backdrop h1{
    color: #D9DAD7;
}

.nave-lement{
    cursor: pointer;
    width: 35%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li:hover{
    background-color: rgb(231, 231, 231);
}